
3week/mongo.py
2week/ajax5.html
3week/first.py
3week/fruit.py
3week/homeworkanswer/answer.html
3week/memo.html
3week/movie.py
3week/movie1.py
3week/openapi.py
3week/scrapy1.py
4week/homework3th_answer/genie_music.py
etc/hello.py
2week/ajax5.html
