<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모여봐요 동물의 숲 | 주민 거래소</title>
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.turnips.trade/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.turnips.trade/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.turnips.trade/favicon-16x16.png">
  <meta property="og:title" content="모여봐요 동물의 숲 | 주민 거래소">
  <meta property="og:description" content="내가 원하는 주민으로만 섬을 꽉 채우는 그날까지-">
  <meta property="og:url" content="https://turnips.trade/">
  <meta property="og:image" content="https://cdn.turnips.trade/daisymae.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- css 파일 넣기 -->
  <link rel="stylesheet" type="text/css" href="../static/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-KG81BCCHRP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-KG81BCCHRP");

    $(document).ready(function(){
      $('table tbody').empty();
      // 24hDelete();
      TableSetting();
      setInterval(TimeShowforAll,600);
    });

    function TableSetting() {
      $.ajax({
        type: "GET",
        url: "api/sellTableSet",
        data: {},
        success: function (response) {
          let sellArticles = response['sellArticles'];
          let selltable_index = 0;

          sellArticles.forEach(function(article){
            selltable_index ++;
            let html = `
            <tr>
              <td>${selltable_index}</td>
              <td>${article["name"]}</td>
              <td>${article["price"]}${article["pricetype"]}</td>
              <td><span class="openTimeSpan" data-open-time="${article["time"]}"></span></td>
              <td>${article["address"]}</td>
              <td><button class="btn btn-primary SellArticleOneView" id="${article["_id"]}">자세히 보기</button></td>
            </tr>
            `;

            $('#sell_tablebody').append(html);
          });
        }
      })

      $.ajax({
        type: "GET",
        url: "api/buyTableSet",
        data: {},
        success: function (response) {
          let buyArticles = response['buyArticles'];
          let buytable_index = 0;

          buyArticles.forEach(function(article){
            buytable_index ++;

            let html = `
              <tr>
                <td>${buytable_index}</td>
                <td>${article["name"]}</td>
                <td>${article["price"]}${article["pricetype"]}</td>
                <td><span class="openTimeSpan" data-open-time="${article["time"]}"></span></td>
                <td>${article["address"]}</td>
                <td><button class="btn btn-primary" id="${article["_id"]}">자세히 보기</button></td>
              </tr>
              `;

            $('#buy_tablebody').append(html);
          });
        }
      })

    }

    // function TimeShow(time){

    //   let now = new Date().getTime();
    //   let text = "";
    //   let calsec = 1000;
    //   let calmin = calsec*60;
    //   let calhour = calmin*60;
    //   let calday = calhour*24;

    //   if (0 < time + calday - now  < calday) {
    //     let distance = time + calday - now;

    //     let day = Math.floor(distance/calday);
    //     let hour = Math.floor(distance%calday/calhour);
    //     let min = Math.floor(distance%calhour/calmin);
    //     let sec = Math.floor(distance%calmin/calsec);

    //     let show_hour = hour.toString();
    //     let show_min = min.toString();
    //     let show_sec = sec.toString();

    //     text = show_hour +":"+ show_min +":"+ show_sec;

    //   }else { 
    //     text = "거래종료"
    //   }
      
  
    // }

    function TimeShowforAll(){
      $('.openTimeSpan').each(function(){
        let time = Number($(this).attr('data-open-time'));
        let now = new Date().getTime();
        let text = "";
        let calsec = 1000;
        let calmin = calsec*60;
        let calhour = calmin*60;
        let calday = calhour*24;

        if (time + calday - now > 0 &&  time + calday - now < calday) {
          let distance = time + calday - now;

          let day = Math.floor(distance/calday);
          let hour = Math.floor(distance%calday/calhour);
          let min = Math.floor(distance%calhour/calmin);
          let sec = Math.floor(distance%calmin/calsec);

          let show_hour ="";
          let show_min = "";
          let show_sec = "";
          // console.log(new Date().getTime())

          if(hour < 10){
            show_hour = "0" + hour.toString();
          }else{ 
            show_hour = hour.toString();
          }

          if(min < 10){
            show_min = "0" + min.toString();
          }else{
            show_min = min.toString();
          }

          if(sec < 10){
            show_sec = "0" + sec.toString();
          }else{
            show_sec = sec.toString();
          }
          
          

          text = show_hour +":"+ show_min +":"+ show_sec;

        }else { 
        text = "거래종료"
        }
      
        $(this).html(text);
      });
    }

    function VillagerSearch(villager_name) {

      $.ajax({
        type: "GET",
        url: "/api/search",
        data: { name_give: villager_name },
        success: function (response) {
          const name = response['villager']['name'];
          const img = response['villager']['img'];

          if (response['result'] == 'success') {
            $('.villagerimg_searched').attr({
              width: 64,
              height: 64,
              src: "../static/villagers/" + img
            });

            $(".villagername_searched").html(name);

          } else {
            alert("서버에서 정보가 안온다");
          }
        }
      })



    }

    function SellArticleNew() {

      if($('#sell_name').html() == "주민을 검색하세요"){

        alert("판매할 주민을 입력하고 검색하기 버튼을 눌러주세요");
        return;

      } else if($('#sell_price').val() == ''){

         alert("판매가격을 입력해주세요");
         return; 

      } else if($('#sell_pricetype').val() == ''){

          alert("가격 단위를 정해주세요");
          return; 

      } else if($('#sell_address').val() == ''){

          alert("연락처를 입력해주세요");
          return;

      } else if($('#sell_pword').val() == ''){

          alert("비밀번호를 입력해주세요\n글 삭제 시 필요합니다");
          return;

      } else{

        $.ajax({
          type: "POST",
          url: "/api/SellArticleNew",
          data: {
            name_give: $('#sell_name').html(),
            price_give: $('#sell_price').val(),
            pricetype_give: $('#sell_pricetype').val(),
            address_give: $('#sell_address').val(),
            password_give: $('#sell_pword').val(),
            note_give: $('#sell_note').val(),
            time_now: new Date().getTime()
          },
          success: function (response) {
            alert("판매글 작성 완료!");
            $('#sellModal').modal('hide');
            window.location.reload();
          }
         })
      }

      }

    function BuyArticleNew() {
      if($('#sell_name').html() == "주민을 검색하세요"){

        alert("구매할 주민을 입력하고 검색하기 버튼을 눌러주세요");
        return;

      } else if($('#sell_price').val() == ''){

        alert("희망가격을 입력해주세요");
        return; 

      } else if($('#sell_pricetype').val() == ''){

        alert("가격 단위를 정해주세요");
        return; 

      } else if($('#sell_address').val() == ''){

        alert("연락처를 입력해주세요");
        return;

      } else if($('#sell_pword').val() == ''){

        alert("비밀번호를 입력해주세요\n글 삭제 시 필요합니다");
        return;

      } else{

        $.ajax({
          type: "POST",
          url: "/api/BuyArticleNew",
          data: {
            name_give: $('#buy_name').html(),
            price_give: $('#buy_price').val(),
            pricetype_give: $('#buy_pricetype').val(),
            address_give: $('#buy_address').val(),
            password_give: $('#buy_pword').val(),
            note_give: $('#buy_note').val(),
            time_now: new Date().getTime()
          },
          success: function (response) {
            alert("구매글 작성 완료!");
            $('#buyModal').modal('hide');
            window.location.reload();
          }
        })

      }
      
    }

    $(document).on("click", ".SellArticleOneView", function() {
      let id = $(this).attr("id");
      let name = "";
      
      $("#SellDetailModal").modal();

      $.ajax({
        type: "GET",
        url: "api/SellOneView",
        data: {'id':id},
        success: function (response) {
          if (response['result'] == 'success') {
            let article = response['article'][0];
            name = article['name'];

            DetailViewimgSearch(name);

            $('#SellArticleOne_name').html(article['name']);
            $('#SellArticleOne_priceNtype').text(article['price'] + " " + article['pricetype']);
            $('#SellArticleOne_address').text(article['address']);
            $('#SellArticleOne_note').text(article['note']);


          } else {
            alert("서버에서 데이터를 제대로 불러올 수 없습니다!")
          }
        }
      })

    });

    function DetailViewimgSearch(name){
      $.ajax({
        type : "GET",
        url: "api/search",
        data: {'name_give': name},
        success: function(response) {
          let villager = response['villager'];
          let img = villager['img'];
          
          console.log(img + "잘 뽑혔습니다아");

          $('#SellArticleOne_img').attr("src","../static/villagers/" + img);
          $('#SellArticleOne_img').attr("width",64);
          $('#SellArticleOne_img').attr("height",64);
        }
      })
    }

  </script>
  <style type="text/css">
    /* Chart.js */
    @keyframes chartjs-render-animation {
      from {
        opacity: .99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
      
      display : flex;
      flex-direction : column;
      justify-content : center;
      align-items : center; 
      
      position: absolute;
      direction: ltr;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1
    }

    .chartjs-size-monitor-expand>div {
      position: absolute;
      width: 1000000px;
      height: 1000000px;
      left: 0;
      top: 0
    }

    .chartjs-size-monitor-shrink>div {
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0
    }
  </style>
</head>

<body class="bg-light">
  <div class="container">
    <div class="col my-3 p-3 bg-white rounded shadow-sm">
      <div class="row">
        <div class="col-md-5 text-center">
          <img src="https://cdn.turnips.trade/daisymae.png" alt="title-img" class="img-fluid">
        </div>
        <div class="col-md-7 text-center">
          <h1 class="display-4">
            모여봐요 동물의 숲 <br />주민 거래소
          </h1>
          <p class="lead">
            내가 원하는 주민으로 섬을 채우는 그날까지
          </p>
        </div>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm" id="sell-table">
      <h3 class="border-bottom border-gray pb-2 mb-0">
        판매해요
      </h3>

      <table class="table table-hover table-borderless table-striped" id="sell_table">
        <thead>
          <tr>
            <th scope="col-2">#</th>
            <th scope="col-2">판매주민</th>
            <th scope="col-2">가격</th>
            <th scope="col-2">남은 시간</th>
            <th scope="col-2">연락처</th>
            <th scope="col-2"></th>
          </tr>
        </thead>
        <tbody id="sell_tablebody">

        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sellModal" id="sell-btn">
        판매글 올리기
      </button>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm" id="buy-table">
      <h3 class="border-bottom border-gray pb-2 mb-0">
        구매해요
      </h3>
      <table class="table table-hover table-borderless table-striped" id="buy_table">
        <thead>
          <tr>
            <th scope="col-2">#</th>
            <th scope="col-2">희망주민</th>
            <th scope="col-2">가격</th>
            <th scope="col-2">남은 시간</th>
            <th scope="col-2">연락처</th>
          </tr>
        </thead>
        <tbody id="buy_tablebody">

        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyModal" id="buy-btn">
        구매글 올리기
      </button>
    </div>


    <!-- Sell Modal -->
    <div class="modal fade" id="sellModal" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              판매글 올리기
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="sell-form">
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">판매주민</label>
                <div class="col-sm-5">
                  <img class="villagerimg_searched" src="https://cdn.turnips.trade/favicon-32x32.png" />
                  <span class="villagername_searched" id="sell_name">주민을 검색하세요</span>
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-5">
                  <input type="text" class="form-control villager_search" id="sellvillager_namesearch"
                    placeholder="주민 이름">
                </div>
                <div><button class="btn btn-outline-primary"
                    onclick="VillagerSearch($('#sellvillager_namesearch').val())">검색하기</button></div>
              </div>
              <div class="form-group row">
                <label for="dodoCode" class="col-sm-4 col-form-label">가격</label>
                <div class="col-sm-5">
                  <input type="number" class="form-control" id="sell_price" placeholder="예시 : 1" min="1" max="9999"
                    step="1">
                </div>
                <div>
                  <select class="custom-select" id="sell_pricetype" name="price_type">
                    <option selected="" value="마일">마일</option>
                    <option value="덩">덩</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="nothing" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-5">
                  <p>1마일 : 마일 여행권 1장<br />1덩 : 99,000벨</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">연락처</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="sell_address" placeholder="원하시는 연락처를 입력해주세요">
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">비밀번호</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="sell_pword" placeholder="글 삭제 시 필요합니다">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-4 col-form-label">메모</label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" id="sell_note" aria-describedby="note"
                    placeholder="예시 : 가격 협상 가능해요!" maxlength="200" value=""></textarea>
                </div>
              </div>
              <!-- <div class="form-group row">
                  <div class="col-sm-3">Anonymous</div>
                  <div class="col-sm-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="anonymous" name="anonymous">
                      <label class="form-check-label" for="anonymous">
                        Share Turnip price only
                      </label>
                    </div>
                  </div>
                </div> -->
              <div>
                <button type="submit" class="btn btn-primary" id="sellSubmitButton" onclick="SellArticleNew()">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="sell
                  Spinner" style="display: none;"></span>
                  <span id="sellSubmitButtonText">제출하기</span>
                </button>
              </div>
              <div class="alert alert-danger mt-3" id="sellModalErrorMessage" role="alert" style="display: none;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL END -->
    <!-- Buy Modal -->
    <div class="modal fade" id="buyModal" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              구매글 올리기
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="buy-form">
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">구매주민</label>
                <div class="col-sm-5">
                  <img class="villagerimg_searched" src="https://cdn.turnips.trade/favicon-32x32.png" />
                  <span class="villagername_searched" id="buy_name">주민을 검색하세요</span>
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-5">
                  <input type="text" class="form-control villager_search" id="buyvillager_namesearch"
                    placeholder="주민 이름">
                </div>
                <div><button type="button" class="btn btn-outline-primary"
                    onclick="VillagerSearch($('#buyvillager_namesearch').val())">검색하기</button></div>
              </div>
              <div class="form-group row">
                <label for="dodoCode" class="col-sm-4 col-form-label">가격</label>
                <div class="col-sm-5">
                  <input type="number" class="form-control" id="buy_price" placeholder="예시 : 1" min="1" max="9999"
                    step="1">
                </div>
                <div>
                  <select class="custom-select" id="buy_pricetype">
                    <option selected="" value="마일">마일</option>
                    <option value="덩">덩</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="nothing" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-5">
                  <p>1마일 : 마일 여행권 1장<br />1덩 : 99,000벨</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">연락처</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="buy_address" placeholder="원하시는 연락처를 입력해주세요"
                    name="address">
                </div>
              </div>
              <div class="form-group row">
                <label for="turnipPrice" class="col-sm-4 col-form-label">비밀번호</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="buy_pword" placeholder="글 삭제 시 필요합니다" name="pword">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-4 col-form-label">메모</label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" id="buy_note" aria-describedby="note"
                    placeholder="예시 : 가격 협상 가능해요!" maxlength="200" value=""></textarea>
                </div>
              </div>
              <!-- <div class="form-group row">
                  <div class="col-sm-3">Anonymous</div>
                  <div class="col-sm-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="anonymous" name="anonymous">
                      <label class="form-check-label" for="anonymous">
                        Share Turnip price only
                      </label>
                    </div>
                  </div>
                </div> -->
              <div>
                <button type="submit" class="btn btn-primary" id="buySubmitButton" onclick="BuyArticleNew()">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="buySpinner"
                    style="display: none;"></span>
                  <span id="buySubmitButtonText">제출하기</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL END -->
  <!-- Sell Detail Modal -->
  <div class="modal fade" id="SellDetailModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            판매글 상세정보
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="buy-form">
            <div class="form-group row">
              <label for="dodoCode" class="col-sm-4 col-form-label" >판매 주민</label>
              <div class="col-sm-8 selldetail">
                <img src="https://cdn.turnips.trade/favicon-32x32.png" id="SellArticleOne_img" />
                <span id="SellArticleOne_name">너굴?</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="fruit" class="col-sm-4 col-form-label" >가격</label>
              <div class="col-sm-8 selldetail">
                <p id="SellArticleOne_priceNtype">sample 마일</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="nothing" class="col-sm-4 col-form-label"></label>
              <div class="col-sm-8">
                <p class="pricetypenoti">1마일 : 마일 여행권 1장<br />1덩 : 99,000벨</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="note" class="col-sm-4 col-form-label" >연락처</label>
              <div class="col-sm-8 selldetail">
                <p id="SellArticleOne_address"></p>
              </div>
            </div>
            <div class="form-group row">
              <label for="note" class="col-sm-4 col-form-label" >메모</label>
              <div class="col-sm-8 selldetail">
                <p id="SellArticleOne_note"></p>
              </div>
            </div>
            <div>
              <input type="text" class="form-control" id="selldelete_pword" placeholder="삭제하려면 비번을 입력해주세요" name="pword">
              <span><button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                  닫기
                </button></span>
              <span><button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                  삭제하기
                </button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL END -->
  <!-- Buy Detail Modal -->
  <div class="modal fade" id="BuyDetailModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            구매글 상세정보
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="buy-form">
            <div class="form-group row">
              <label for="dodoCode" class="col-sm-4 col-form-label">판매 주민</label>
              <div class="col-sm-8">
                <img src="https://cdn.turnips.trade/favicon-32x32.png" />
                <span>너굴?</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="fruit" class="col-sm-4 col-form-label">가격</label>
              <div class="col-sm-8 buydetail">
                <p id="recordDetailModalFruit">sample 마일</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="nothing" class="col-sm-4 col-form-label"></label>
              <div class="col-sm-5 buydetail">
                <p>1마일 : 마일 여행권 1장<br />1덩 : 99,000벨</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="note" class="col-sm-4 col-form-label">연락처</label>
              <div class="col-sm-8 buydetail">
                <p id="recordDetailModalNote"></p>
              </div>
            </div>
            <div class="form-group row">
              <label for="note" class="col-sm-4 col-form-label">메모</label>
              <div class="col-sm-8 buydetail">
                <p id="recordDetailModalNote"></p>
              </div>
            </div>
            <div>
              <input type="text" class="form-control" id="buydelete_pword" placeholder="삭제하려면 비번을 입력해주세요" name="pword">
              <span><button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                  닫기
                </button></span>
              <span><button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                  삭제하기
                </button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL END -->
  <!-- Footer -->
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">건의사항은 이쪽으로 : <a href="mailto:haiaanbyul@gmail.com">haiaanbyul@gmail.com</a></p>
  </footer>
  <!-- Fotter End -->
  </div>
  <script>

    // function getLocalDate() {
    //   var d = new Date(),
    //     month = "" + (d.getMonth() + 1),
    //     day = "" + d.getDate(),
    //     year = d.getFullYear();

    //   if (month.length < 2) month = "0" + month;
    //   if (day.length < 2) day = "0" + day;

    //   return [year, month, day].join("-");
    // }

  </script>

</body>

</html>